/* Variables */
:root {
    --darker: #090a0e;
    --dark: #10121a;
    --light: #191c29;
    --lighter: #282d42;
    --lightest: #2f354e;
    --primary: #5267bb;
    --text: #c6cff3;
    --green: #befdb3;
    --yellow: #f1e092;
    --red: #ee9b9b;
}

/* Font */
@font-face {
    font-family: "Source Sans 3";
    src: url(font.ttf) format("truetype");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url(code_font.ttf) format("truetype");
    font-weight: 350;
    font-style: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: var(--lighter);
    transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lightest);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Global */
body {
    height: 100vh;
    margin: 0;
}

body > .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid var(--lighter);
    background-color: var(--dark);
    transition: opacity 0.1s ease-in;
}

body.kr-hidden > .container {
    opacity: 0;
}

body.kr-maximized > .container {
    border-radius: 0;
    border: none;
}

body > .container > *:not(.active):not(.kr-titlebar) {
    position: absolute !important;
    z-index: -999999 !important;
    pointer-events: none !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0% !important;
}

* {
    color: var(--text);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

*.disabled {
    opacity: 25% !important;
    pointer-events: none !important;
}

/* Input */
.kr-input {
    all: unset;
    background-color: var(--light);
    border: 1px solid var(--lighter);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 2.5px;
    user-select: none;
    -webkit-user-drag: none;
    transition: background-color 0.2s;
}

.kr-input:focus {
    background-color: var(--lightest);
}

/* Button */
.kr-button {
    all: unset;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 2.5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
    transition: background-color 0.2s;
}

/* Dropdown */
.kr-dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: var(--dark);
    border: 1px solid var(--lighter);
    border-radius: 2.5px;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

.kr-dropdown-content.active:not(.disabled) {
    display: block;
}

.kr-dropdown-content > div {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.05rem 0.25rem;
    flex-direction: row-reverse;
    transition: background-color 0.2s;
}

.kr-dropdown-content > div > i {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 0.75rem !important;
    font-size: 0.5rem !important;
}

.kr-dropdown-content > div:not(:first-child) {
    border-top: 1px solid var(--lighter);
}

.kr-dropdown-content > div:hover {
    cursor: pointer;
    background-color: var(--lighter);
}

/* Titlebar */
.kr-titlebar {
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    width: 100%;
    height: 1.5rem;
    box-sizing: border-box;
    user-select: none;
    position: relative;
}

.kr-titlebar .tb-drag {
    position: absolute;
    top: 0;
    left: 5px;
    width: calc(100% - 5px * 2);
    height: 100%;
}

.kr-titlebar .brand {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    pointer-events: none;
    margin-left: 0.5rem;
}

.kr-titlebar .image {
    width: 0.8rem;
}

.kr-titlebar .text {
    font-size: 0.8rem;
}

.kr-titlebar .version {
    font-size: 0.7rem;
    opacity: 75%;
}

.kr-titlebar .buttons {
    display: flex;
    z-index: 1;
}

.kr-titlebar .tb-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 0 0.75rem;
    height: 100%;
    box-sizing: border-box;
    transition: background-color 0.2s;
}

.kr-titlebar .tb-button:hover {
    background-color: var(--light);
    cursor: pointer;
}

/* Login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 24px);
    gap: 1.25rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.login .title {
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
    gap: 0.75rem;
}

.login .title .text {
    margin: 0;
    font-weight: 500;
}

.login .title .image {
    border-radius: 2.5px;
    box-sizing: border-box;
    width: 2rem;
}

.login .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    width: 100%;
}

.login .form .kr-input {
    width: 100%;
}

/* Exploit */
.exploit {
    padding: 0.5rem;
}

.exploit .bar {
    display: flex;
    gap: 0.5rem;
}

.exploit .bar .buttons {
    display: flex;
    width: 100%;
    gap: 0.35rem;
}

.exploit .bar .buttons .kr-button {
    margin-left: -1px;
    border: 0.25px solid var(--lighter);
    box-sizing: border-box;
    background-color: var(--dark);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.35rem 0.5rem;
    gap: 0.5rem;
    flex-grow: 1;
}

.exploit .bar .buttons .kr-button:hover {
    background-color: var(--light);
}

.exploit > .main {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.exploit > .main > * {
    height: calc(100vh - 28px - 22px - 27px);
    border: 1px solid var(--lighter);
    border-radius: 2.5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .exploit .bar .buttons .kr-button .text {
        display: none !important;
    }

    .exploit > .main > * {
        height: calc(100vh - 25px - 22px - 27px) !important;
    }
}

.exploit > .main > .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
    border: none;
    border-radius: 0;
}

.exploit > .main > .container > .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.exploit > .main > .container > .tabs > .kr-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    padding: 0.25rem;
    box-sizing: border-box;
    background-color: var(--light);
    border: 1px solid var(--lighter);
    height: 100%;
    min-width: 1.5rem !important;
}

.exploit > .main > .container > .tabs > .kr-button:hover {
    background-color: var(--lighter);
}

.exploit > .main > .container > .tabs > .list {
    display: flex;
    align-items: center;
    overflow-y: auto;
    gap: 0.25rem;
}

.exploit > .main > .container > .tabs > .list .kr-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 0.25rem;
    text-wrap: nowrap;
    background-color: var(--light);
    border: 1px solid var(--lighter);
    padding: 0.15rem 0.25rem;
    font-size: 0.7rem;
    border-radius: 2.5px;
    box-sizing: border-box;
    user-select: none;
    transition: background-color 0.2s;
}

.exploit > .main > .container > .tabs > .list .kr-tab.highlight {
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    opacity: 75%;
}

.exploit > .main > .container > .tabs > .list .kr-tab.selected {
    opacity: 25% !important;
    pointer-events: none !important;
}

.exploit > .main > .container > .tabs > .list .kr-tab[contentEditable="true"] {
    outline: none;
    background-color: var(--lighter);
    text-overflow: initial;
}

.exploit > .main > .container > .tabs > .list .kr-tab > i {
    font-size: 0.5rem;
}

.exploit > .main > .container > .tabs > .list .kr-tab:not([contentEditable="true"]):not(.selected).active {
    background-color: var(--lighter);
    opacity: 75%;
}

.exploit > .main > .container > .tabs > .list .kr-tab:hover {
    cursor: pointer;
    background-color: var(--lighter);
}

.exploit > .main > .container > .editor {
    height: 100%;
    border: 1px solid var(--lighter);
    border-radius: 2.5px;
    box-sizing: border-box;
    overflow: hidden;
}

.exploit > .main > .container-2 {
    width: 25%;
}

.exploit > .main > .container-2 > .script-header {
    display: flex;
    box-sizing: border-box;
    gap: 0.25rem;
}

.exploit > .main > .container-2 > .script-header > .search {
    font-size: 0.75rem;
    padding: 0.1rem 0.25rem;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.exploit > .main > .container-2 > .script-header > .kr-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    padding: 0.25rem;
    width: 1.5rem;
    box-sizing: border-box;
    background-color: var(--light);
    border: 1px solid var(--lighter);
}

.exploit > .main > .container-2 > .script-header > .kr-button:hover {
    background-color: var(--lighter);
}

.exploit > .main > .container-2 > .scripts {
    border-radius: 2.5px;
    background-color: var(--light);
    border: 1px solid var(--lighter);
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    overflow: auto;
    height: 100%;
}

.exploit > .main > .container-2 > .scripts > .script-container {
    height: fit-content;
    width: fit-content;
    margin: 0.1rem;
}

.exploit > .main > .container-2 > .scripts > .script-container .folder-scripts:not(.expanded) {
    display: none;
}

.exploit > .main > .container-2 > .scripts > .script-container .folder-scripts .script {
    margin-left: 0.25rem;
}

.exploit > .main > .container-2 > .scripts > .script-container .script {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    white-space: nowrap;
    padding: 0.1rem 0.2rem;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 2.5px;
    gap: 0.3rem;
    transition: background-color 0.2s;
}

.exploit > .main > .container-2 > .scripts > .script-container:last-child {
    margin-bottom: 1rem;
}

.exploit > .main > .container-2 > .scripts > .script-container .script.highlight {
    background-color: var(--primary) !important;
    opacity: 75%;
}

.exploit > .main > .container-2 > .scripts > .script-container .script.selected {
    opacity: 25% !important;
    pointer-events: none !important;
}

.exploit > .main > .container-2 > .scripts > .script-container .script > i {
    display: flex;
    width: 0.6rem;
    font-size: 0.6rem;
    align-items: center;
    justify-content: center;
}

.exploit > .main > .container-2 > .scripts .script-container .script[contentEditable="true"] {
    border: none;
    outline: none;
    background-color: var(--lighter);
    text-overflow: initial;
}

.exploit > .main > .container-2 > .scripts .script-container:has(> .kr-dropdown-content.active) > .script {
    background-color: var(--lighter);
}

.exploit > .main > .container-2 > .scripts .script-container .script:hover {
    cursor: pointer;
    background-color: var(--lighter);
}